@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --bg-color: #08090F;
  --primary-color: #FFFFFF;
  --secondary-color: #A52645;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  box-shadow: none;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}